.TitleActivityList {
    font-size: 3vh;
    margin: 3vh 0vw 2vh 3vw;
    color: #003366;
}

.ValButActivityList{
    padding: 2vh 2vw;
    background-color: #003366;
    color: white;
    font-size: 3vh;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 3vw;
}