.MeActivity {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    height: 15vh;
    font-size: 2.5vh;
    margin: 3vh 0vw 2vh 3vw;
    
}

.ValButMeActivity{
    padding: 3vh 3vw;
    background-color: #003366;
    color: white;
    font-size: 2rem;
    border-radius: 8px;
    border: none;
    margin-top: 1vh;
    margin-right: 3vw;
}

.backActivities {
    background: linear-gradient(to bottom,#003366, #003366 30%, whitesmoke 30%);
    width: 65vw;
}