.ButtonLink{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.paraButton{
    text-align: center;
    font-size: 2vh;
    width: 90%;
}
.tutoButton {
    color: antiquewhite;
    background-color: #003366;
    border-radius: 5%;
    border: none;
    font-size: 5vh;
    padding: 3%;
    width: 80%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 1.8vh;
}

.tutoButton:hover {
    text-decoration: underline;
}

.flexButtonLigne1{
    display: flex;
    align-items: center;
}

.flexButtonLigne2{
    display: flex;
    align-items: center;
}

