

.navbarHorizontalBloc {
    position: -webkit-sticky;
    position: sticky;
    top:0px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 1rem;
    border: solid;
    border-color: black;
    height: 10vh;
    background-color: white;
}

.navbarTitle {
    font-size: 2rem;
}

.navbarPage {
    display: flex;
}

.navbarVerticaleBloc {
    position: -webkit-sticky;
    position: sticky;
    top:14vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: black;
    height: 86vh;
    background-color: white;
}