

.navbarHorizontalBloc {
    color:white;
    position: -webkit-sticky;
    position: sticky;
    top:0px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 1rem;
    height: 10vh;
    background-color: #003366;
}

.navbarTitle {
    font-size: 2rem;
    text-decoration: none;
}

.navbarTitle:visited {
    color:white;
}

.navbarPage {
    display: flex;
}

.navbarVerticaleBloc {
    position: -webkit-sticky;
    position: sticky;
    top:13.4vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    height: 86vh;
    background-color: #003366;
    color: white;
    font-size: 1.5rem;
}

.navbarVerticaleBloc img {
    height: 1.5rem;
    margin-right: 0.4rem;
}

.navbarVerticaleBloc ul {
    margin-top: 0;
}

.navbarVerticaleBloc ul li {
    list-style: none;
    margin-bottom: 5rem;
}

.navbarLink {
    text-decoration: none;
}

.navbarLink:visited {
    color:white;
}

#navbarDogCat {
    height: 30vh;
}
